.ui{
  color: blue;
}
.but1{
  color: blueviolet;
  background-color: antiquewhite;
  font-size: large;
  block-size: 1cm;
  inline-size: 4.3cm;
}
.but2{
  color: blueviolet;
  background-color: antiquewhite;
  font-size: large;
  block-size: 1cm;
  inline-size: 4.3cm;
}
.but3{
  color: blueviolet;
  background-color: antiquewhite;
  font-size: large;
  block-size: 1cm;
  inline-size: 4.3cm;
}
.but4{
  color: blueviolet;
  background-color: antiquewhite;
  font-size: large;
  block-size: 1cm;
  inline-size: 4.3cm;
}